a(href="/books/") Volver al Listado
.mostrar
    label="ID: "+objeto.id
    br
    label="ISBN: " + objeto.isbn
    br
    label="Título: " + objeto.titulo
    br
    label="Autores: " + objeto.autores
    br
    label="Sinopsis: " + objeto.sinopsis