extends layout

block content
  h1= title
  p Welcome to #{title}
  include includes/menu.pug
  div(id="mensajes")
  div
    h1 #{item.username}
    h2 #{item.hash}
    button(class="btn btn-danger",id="borrar",data-id=item._id) Borrar Definitivamente (No habrá marcha atrás!!!!!)